<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kaiseki Restaurant</title>
  <meta name="theme-color" content="#000000"/>

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./images/favicon.png">  

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
</head>
  <body>
    <header>
      <a tabindex="0"href="#maincontent" class="skip-link">Skip To Content</a>
      <div class="centered">
        <a id="menu" href="#" class="header-menu">☰</a>
      </div>
      <app-bar></app-bar>
    </header>

    <main tabindex="0" id="maincontent">
    </main>
    
    <footer tabindex="0">
      <h3>Copyright © 2023 - Kaiseki Restaurant</h3>
    </footer>
  </body>
</html>